[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
shap = "*"
category-encoders = "*"
sklearn = "*"
xgboost = "*"
dash = "==1.9.1"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
seaborn = "*"
pymongo = "*"
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
tweepy = "*"
spacy = "*"
python-dotenv = "*"
scikit-learn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
